body {
    padding-top: 70px;
}

.col-md-7 {
	display: flex;
    -webkit-box-orient: horizontal; 
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    flex-direction: row;

    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    justify-content: center;

    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;  
    align-items: center;
}

img {max-width:100%;}

.img-responsive {
	padding-bottom: 15px;
}

.navbar-inverse .navbar-brand:hover {
	color: #f17721;
}

.navbar-inverse .navbar-nav>li>a:hover {
	color: #f17721;
}

.navbar-inverse .navbar-toggle .icon-bar {
	background-color: #f17721;
}

h1.page-header {
 	color: #222;
}

h1.page-header {
  color: #222;
}

h3 {
	margin-top: 0;
	cursor: default;
}

h4 {
	cursor: default;
}

h5 {
	font-size: 24px;
	cursor: default;
}

p {
	cursor: default;
}

.btn-default {
	background-color: #f17721;
	border: solid 1px #698496;
	color: #FFF;
}

.btn-primary {
	background-color: #f17721;
	border: solid 1px #ba540c;
}

.btn-primary:hover {
	background-color: #ea690f;
}

ul.tech {
	cursor: default;
	list-style: none;
	padding: 0px;
	cursor: default;
}

ul.tech li {
	background-color: #0D47A1;
	border-radius: 5px;
	color: white;
	display: inline-flex;
	margin-top: 5px;
	padding: 5px;
}

ul.tech li.js {
	background-color: #1976D2;
}

ul.tech li.api {
	background-color: #42A5F5;
}

ul.tech li.other {
	background-color: #90CAF9;
}

ul.pagination li a {
	color: #f17721;
	border-color: #9d9d9d;
}

ul.pagination li a:hover {
	color: #000;
	border-color: #9d9d9d;
}

ul.pagination li.active a {
	background-color: #f17721;
	color: #000;
}

ul.pagination li.active a:hover {
	background-color: #f17721;
}

footer {
	color: #fff;
	left: 0;
	position: absolute;
	right: 0;
	width: 100%;
}

footer .footer-above {
    background-color: #222;
    margin-top: 20px;
}

footer .footer-col {
    margin-bottom: 50px;
}

footer .footer-below {
    background-color: #222;
    padding: 25px 0;
}

footer .text-center {
	width: 100%;
}

.btn-social {
	color: #fff;
    border-radius: 100%;
    border: 2px solid #fff;
    display: inline-block;
    font-size: 20px;
    height: 50px;
    line-height: 45px;
    text-align: center;
    width: 50px;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
    background: #698496;
    border: solid 2px #f17721;
    color: #fff;
}
.col-lg-12 {
  color: #9d9d9d;
  cursor: default;
}
/*iphone 6+ Portrait*/
@media only screen
and (min-device-width : 414px)
and (max-device-width : 736px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) {

h1 {
	font-size: 40px !important;
}

}